.questions-cont{
    max-width: 50rem;
    margin: 0 auto;
    padding: 5rem 0;

}
.questions-cont h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 3rem;

}

.ac-but{
    font-size: 1.8rem;
    color: white !important;
    background-color: #303030 !important; 
    padding: 1.2rem 2rem;
   
  
}
.plus{
    font-size: 2rem;
    position: absolute;
    margin-left: 43rem;
    font-weight: lighter;
}
.accordion-button::after{
    display: none;
}

.ac-but:focus{
    background-color: #303030 !important;
    color: white !important;
    box-shadow: none !important;
   
}
.email-quest{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.accordion{
    
    margin: 0 auto;
    margin: .7rem 0;
}
.accordion-body{
    background-color: #303030;
    border-top: 3px solid black;

}

.accordion-body p{
    color: white;
    font-size: 1.7rem;
    padding: 1rem;
}
@media(max-width:768px){
    .questions-cont h3{
        font-size: 1.7rem;
        padding: 0;
    }
    .ac-but{
        font-size: 1.2rem;
        padding: 1rem;
     

    }
    .email-quest h5{
        text-align: center;
        margin: 0 2.5rem;
    }

    .accordion-body{
        border-top: 2px solid black;
    }
    .accordion-body p{
        font-size: 1.2rem;
  
    }
    .plus{
        margin-left: 19rem;
    }
}

